<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/coming_soon_clone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Akronim&family=Monoton&family=Parisienne&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <title>Feedback - Form</title>
</head>

<body>
    <div>We appreciate the time you took to share your feedback.</div>
    <div>
        <a href="/">
            <button
                class="font-medium text-white bg-green-500 px-5 py-1 my-10 mx-0 md:mx-20 rounded hover:bg-green-400 transition duration-300">Back
                to Homepage
            </button>
        </a>
    </div>
</body>

</html>