<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Unsuccessful Login</title>
    <style>
        .failure_alert{
            width: 40%;
            margin: 0 auto;
            margin-top: 10%;
        }
        @media screen and (max-width:700px) {
            .failure_alert{
            width: 90%;
            margin: 0 auto;
            margin-top: 10%;
        }
        }
        body{
            background: rgb(243, 219, 219);
        }
    </style>
</head>

<body>
    <div class="failure_alert bg-red-200 border-t-4 border-red-600 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex">
            <div class="py-1"><svg class="fill-current h-6 w-6 text-red-800 mr-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                </svg></div>
            <div>
                <p class="font-bold">Invalid E-mail or Password</p>
                <p class="text-sm">Our database doesn't contain the credentials mentioned. Make sure you entered details correctly.</p>
            </div>
        </div>
    </div>
</body>

</html>