<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login_app.css">
    <link rel="icon" href="/images/logo.png">
    <title>MySpace - Sign In</title>

</head>

<body>
    <div class="center">
        <div>
            <a href="/landing">
                <img src="/images/logo.png" class="w-12 h-12 ml-20 mt-1 mb-2 mr-1 inline-block"
                    alt="MySpace logo"></a>
            <p class="text-gray-900 text-xl font-medium title-font mt-10 inline-block">Login to MySpace</p>
        </div>
        <form action="/login" method="POST">
            <div class="txt_field">
                <input type="email" name="username" autocomplete="off"
                pattern=".+@iiitm\.ac\.in" required>
                <label>Institutional E-Mail</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" autocomplete="off" required>
                <label>Password</label>
            </div>
            <input type="submit" value="Login" class="mb-2">
            <hr>
            <div class="text-gray-900 text-xl title-font text-center mt-2 mb-2">OR</div>
            <div class="signup_link ">
                Not yet Registered? <a href="/register">Sign Up</a>
            </div>
        </form>
    </div>
</body>
</html>